/* Ensure full height for html and body */
html, body {
  height: 100%;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Global Navbar Styles */
.navbar {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 100vw; /* Full width */
  box-sizing: border-box;
}

/* Logo default size for desktop */
.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #ff5a5f;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 12px;
  font-size: 12px;
  font-weight: 500;
  color: #f0f0f0;
}

.logout-button {
  background-color: #ff5a5f;
  color: #ffffff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #ff7b7f;
}

.add-employee-icon {
  color: #ff5a5f;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.add-employee-icon:hover {
  transform: scale(1.1);
  color: #ff7b7f;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .logo {
    font-size: 12px;
  }

  .add-employee-icon {
    font-size: 18px;
  }
}

.rto-section {
  padding: 20px;
  height: calc(100% - 55px); /* Adjusting height based on navbar */
  overflow: auto; /* Allow scrolling if necessary */
}

.rto-customer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rto-customer-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s;
}

.rto-customer-card:hover {
  transform: scale(1.02);
}

h3 {
  margin-top: 30px;
  font-size: 24px;
  color: #333333;
}

.rto-loading,
.rto-error {
  color: #ff5a5f;
  text-align: center;
  margin-top: 20px;
}
