.rto-details-container {
  margin: 2rem auto;
  max-width: 900px;
  padding: 20px;
}

.rto-card {
  background-color: #1c1e22;
  color: #fff;
  padding: 1rem;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.customer-details-grid {
  margin-top: 20px;
}

.customer-details p,
.customer-details .MuiTypography-root {
  margin: 0.5rem 0;
}

.MuiDivider-root {
  margin: 1rem 0;
}

input[type="file"] {
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
}

button {
  margin-right: 10px;
}

img {
  width: 100%;
  height: auto;
}

.MuiDialog-paper {
  padding: 20px;
  background-color: #f4f4f4;
}

.pdf-editor-header {
  margin: 20px 0;
}

.pdf-editor-grid {
  margin-bottom: 20px;
}

.pdf-editor-grid input,
.pdf-editor-grid select {
  margin-bottom: 10px;
}
